<section class="hero">
  <div class="hero__container">
    <div class="hero__content">
      <h1 class="hero__title">Перевозка <span>насыпных грузов</span> на контейнером терминале в Новороссийске</h1>
    </div>
    <div class="hero__video">
      <!-- <video src="./video-site.webm" autoplay muted loop playsinline>
      </video> -->
      <!-- <canvas class="canvas" id="hero-lightpass"> -->

        <img src="./img/animation/pic_00000.webp" class="hero__images" alt="">
    </div>
  </div>

  <a href="#cta" class="hero__link">Оставить<br>заявку</a>
</section>
