<section class="map" id="contacts">
  <div class="container map__container">
    <div class="map__map" id="map"></div>

    <div class="map__contacts">
      <h2 class="title2 map__title">Контакты</h2>
      <address class="contacts">
        <span class="contacts__name">ООО “ТПК”</span>
        <a href="https://tpknovo.ru" class="contacts__link contacts__text">tpknovo.ru</a>
        <a href="mailto:info@tpknovo.ru" class="contacts__link contacts__text">Info@tpknovo.ru</a>
        <a href="tel:79064344738" class="contacts__link contacts__text">+7 (906) 43-44-738</a>
        <span class="contacts__text contacts__city">
          г. Новороссийск,п. Верхнебаканский
        </span>
      </address>
      <a href="#cta" class="btn btn--white btn-reset map__btn">Оставить заявку</a>
    </div>
  </div>
</section>
