<div class="menu">
  <div class="menu__body">
    <nav class="nav menu__nav">
      <ul class="list-reset nav__list">
        <li class="nav__item">
          <a href="#about" class="nav__link">О нас</a>
        </li>
        <li class="nav__item">
          <a href="#services" class="nav__link">Услуги</a>
        </li>
        <li class="nav__item">
          <a href="#contacts" class="nav__link">Контакты</a>
        </li>
      </ul>
    </nav>
    <div class="menu__info">
      <a href="https://tpknovo.ru" class="menu__email">tpknovo.ru</a>
      <a href="mailto:Info@tpknovo.ru" class="menu__email">Info@tpknovo.ru</a>
      <a href="tel:+79064344738" class="menu__tel">+7 (906) 43-44-738</a>
    </div>
  </div>
</div>
